;   -- Usage -- 
;
; [monthX_timeofday]
; file = "story_X"  <- Set the "*.dialogue" file to use.
;                      Do not include the file extension.
;
; cue = "monthX_timeofday"  <- The dialogue "~ cue" to use.
;                                By default, it's the same as the category name.

[oct31_evening]
file = "story_0"
cue = "oct31_afternoon"

[oct31_daytime]
file = "story_0"
cue = "wake_amberelm"

[oct31_afternoon]
file = "story_0"

[oct31_night]
file = "story_0"

[nov1_morning]
file = "story_1"

[nov1_daytime]
file = "story_1"

[nov1_night]
file = "story_1"

[nov2_morning]
file = "story_1"

[nov2_daytime]
file = "story_1"

[nov3_morning]
file = "story_2"

[nov3_afternoon]
file = "story_2"
